<section>
  <form>
    <input type="text" placeholder="Filter by city" #filter />
    <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    <button style="margin-left: 100px; cursor: pointer;" class="primary" [routerLink]="['/create']">Add a new home</button>
    </form>
  </section>
  <section class="results">
    <app-housing-location
      *ngFor="let housingLocation of filteredLocationList"
      [housingLocation]="housingLocation">
    </app-housing-location>
  </section>